*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:black;
}


canvas{
    position:absolute;
    width:100%;
    height:100%;
}


#start{

position:absolute;

width:100%;
height:100%;

display:flex;
justify-content:center;
align-items:center;

color:white;

font-size:35px;

font-family:Georgia,serif;

cursor:pointer;

background:
radial-gradient(circle,rgba(80,20,120,.4),black);

z-index:5;

}


#message{
position:absolute;
top:40%;
width:100%;
max-width:800px;
left:50%;
transform:translateX(-50%);
text-align:center;
font-family:Georgia,serif;
font-size: 12px;
line-height:1.6;
color:white;
opacity:0;
letter-spacing:1px;
text-shadow:
0 0 10px white,
0 0 25px #d8a4ff,
0 0 50px #ff8ee8,
0 0 90px #8c7bff;
transition:3s;
animation:pulse 3s infinite alternate;
}


@keyframes pulse{

from{
transform:scale(1);
}

to{
transform:scale(1.05);
}

}
